.forgot-password-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.forgot-password {
    background: rgb(16, 113, 120);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.forgot-password-logo {
    position: absolute;
    top: 50px;
    left: 75px;
    width: 200px;
}

.forgot-password-inner-container {
    color: white;
    text-align: left;
    width: 320px;
}

.forgot-password-header {
    font-size: 42px;
    width: 150%;
    margin-bottom: 30px;
}

.forgot-password-subheader {
    font-size: 30px;
    width: 150%;
}