
/* Back and Edit Button Styling in Ticket View */
.ticket-view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #107178;
    color: white;
    padding: 20px 100px;
}

.ticket-header-left {
    display: flex;
    align-items: center;
}

.ticket-title-container {
    margin-left: 100px;
    display: flex;
    font-size: 30px;
    align-items: center;
}

.ticket-title {
    margin-left: 20px;
}

.back-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    text-decoration: none;
    color: white; 
    font-size: 30px;
    border: none;
}

.edit-button, .delete-button {
    width: 100px;
    height: 40px;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    background-color: transparent;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.edit-button {
    margin-right: 30px;
}

.edit-button:hover {
    background-color: white;
    color: #107178;
}

.delete-button:hover {
    background-color: #ef3535;
    border: 2px solid #ef3535
}

.ticket-header-buttons {
    display: flex;
}

/* Subheader Styling for Ticket View */

.ticket-view-subheader-wrapper {
    padding: 20px 100px;
    background-color: #107178;
    color: white;
}

.ticket-view-subheader {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.urgency-wrapper, .type-wrapper {
    font-size: 18px;
    display: flex;
    align-items: center;
    background-color: #0a4448;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.urgency-wrapper .icon-wrapper,
.type-wrapper .icon-wrapper {
    font-size: 16px;
    margin-right: 10px;
}

.Low-urgency-wrapper {
    color: #80f663;
}

.Medium-urgency-wrapper {
    color: #fcc429;
}

.High-urgency-wrapper {
    color: #ff9c1b;
}

.Critical-urgency-wrapper {
    color: #ef3535;
}

.select-wrapper {
    margin: 0 30px;
    position: relative;
  }
  
.select-wrapper select {
    width: 175px;
    appearance: none;
    -webkit-appearance: none;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #0a4448;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 500;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.select-wrapper::before,
.select-wrapper::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.select-wrapper::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid white;
    top: 40%;
}

.select-wrapper::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid white;
    top: 55%;
}

.type-wrapper {
    height: 45px;
    color: white;
    font-size: 18px;
}

/* Styling for Main Ticket Wrapper */

.ticket-view-info {
    display: flex;
    margin: 20px 100px;
    min-height: 70vh;
}

.ticket-view-info-left {
    width: 20%;
    border-right: 2px solid #107178;
}

.ticket-view-info-right {
    width: 80%;
    margin-left: 40px;
}

/*Styling for Left Section */

.info-section {
    width: 80%;
    margin-top: 30px;
}

.info-section-top {
    margin-top: 0;
}

.info-container {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 5px;
    margin-top: 10px;
}

.info-container .heading {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.info-data {
    font-size: 18px;
    font-weight: 400;
}

.info-data a {
    text-decoration: underline;
    color: #107178;
}

/* Styling for Right Section */

.info-container img {
    width: 100%;
    height: auto;
}


/* Styling for Edit Page */

.ticket-view-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-ticket-view-content {
    margin-top: 50px;
    height: 100%;
    width: 500px;
    text-align: center;
    min-height: 85vh;
}

.edit-ticket-view-content h1 {
    margin: 10px;
}

.edit-ticket-view-content form {
    height: 90%;
}

.edit-ticket-view-content form div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    height: 100%;
    width: 100%;
}

.edit-ticket-view-content label {
    margin: 10px;
}

.edit-ticket-view-content label p {
    font-weight: 600;
    text-align: left;
}

.edit-ticket-view-content input {
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    background: none;
    border: 2px solid #107178;
    border-radius: 8px;
    width: 500px;
}

.edit-ticket-view-content select {
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    background: none;
    border: 2px solid #107178;
    border-radius: 8px;
    width: 500px;
}

.edit-ticket-view-content button {
    height: 50px;
    width: 80px;
    font-size: 16px;
    color: white;
    background: #107178;
    border: none;
    border-radius: 8px;
    margin: 10px;
}

.edit-ticket-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.edit-ticket-buttons .cancel {
    text-decoration: none;
    color: white;
}
