.ticket-view-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.ticket-view-content {
    flex: 1;
    padding: 15px; /* Adjust padding */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); /* Add box-shadow */
    background-color: #f5f5f5;
    margin: 30px 50px;
}

.ticket-view-header {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.ticket-view-header button {
    background-color: #107178;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Add box-shadow */
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.ticket-view-header .back-button {
    width: 60px;
    height: 60px;
    font-size: 32px;
    font-weight: 900;
}

.back-button-link {
    text-decoration: none;
}

.ticket-view-header .edit-button {
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-weight: 900;
    margin-left: auto;
}

.ticket-title-container {
    margin-left: 30px;
}

.ticket-title-container h3 {
    font-size: 30px;
}

.ticket-title-container h5 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
}

.ticket-view-subheader {
    display: flex;
    align-items: center;
}

.select-wrapper {
    max-width: 200px;
    position: relative;
  }
  
.select-wrapper select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    width: 100%;
    font-size: 14px;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    border: 2px solid #107178;
    height: 40px;
}

.select-wrapper::before,
.select-wrapper::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.select-wrapper::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.select-wrapper::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

.urgency-wrapper {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.Medium-urgency-wrapper {
    background-color: #FBEC5D;
    border: 2px solid #8b783c;
    border-radius: 8px;
}

.urgency-text {
    background-color: transparent;
    text-align: center;
    font-size: 16px;
}

.Medium-urgency-wrapper p {
    color: #8b783c;
}

.ticket-view-info-inner-section {
    margin: 30px 0;
}

.ticket-view-info-inner-section h2 {
    margin-bottom: 10px;
}

.ticket-view-info-inner-section p {
    margin-bottom: 5px;
}






.edit-ticket-view-content {
    height: 100%;
}

.edit-ticket-view-content h1 {
    margin: 10px;
}

.edit-ticket-view-content form {
    height: 90%;
}

.edit-ticket-view-content form div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    height: 100%;
    width: 100%;
}

.edit-ticket-view-content label {
    margin: 10px;
}

.edit-ticket-view-content label p {
    font-weight: 600;
}

.edit-ticket-view-content input {
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    background: none;
    border: 2px solid #107178;
    border-radius: 8px;
    width: 50%;
}

.edit-ticket-view-content select {
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    background: none;
    border: 2px solid #107178;
    border-radius: 8px;
    width: 50%;
}

.edit-ticket-view-content button {
    height: 50px;
    width: 80px;
    font-size: 16px;
    color: white;
    background: #107178;
    border: none;
    border-radius: 8px;
    margin: 10px;
}

.edit-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}