.ticket-view-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.ticket-view-content {
    flex: 1;
    padding: 15px; /* Adjust padding */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); /* Add box-shadow */
    background-color: #f5f5f5;
    margin: 30px 50px;
}

.ticket-view-header {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.ticket-view-header button {
    background-color: #107178;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Add box-shadow */
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.ticket-view-header .back-button {
    width: 60px;
    height: 60px;
    font-size: 32px;
    font-weight: 900;
}

.back-button-link {
    text-decoration: none;
}

.ticket-view-header .edit-button {
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-weight: 900;
    margin-left: auto;
}

.ticket-view-header .ticket-title {
    margin-left: 30px;
    font-size: 30px;
}

.ticket-view-info-inner-section {
    margin: 30px 0;
}

.ticket-view-info-inner-section h2 {
    margin-bottom: 10px;
}

.ticket-view-info-inner-section p {
    margin-bottom: 5px;
}






.edit-ticket-view-content {
    height: 100%;
}

.edit-ticket-view-content h1 {
    margin: 10px;
}

.edit-ticket-view-content form {
    height: 90%;
}

.edit-ticket-view-content form div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    height: 100%;
    width: 100%;
}

.edit-ticket-view-content label {
    margin: 10px;
}

.edit-ticket-view-content label p {
    font-weight: 600;
}

.edit-ticket-view-content input {
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    background: none;
    border: 2px solid #107178;
    border-radius: 8px;
    width: 50%;
}

.edit-ticket-view-content select {
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    background: none;
    border: 2px solid #107178;
    border-radius: 8px;
    width: 50%;
}

.edit-ticket-view-content button {
    height: 50px;
    width: 80px;
    font-size: 16px;
    color: white;
    background: #107178;
    border: none;
    border-radius: 8px;
    margin: 10px;
}

.edit-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}