.header{
    background: #107178;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header .logo{
    padding: 10px;
    padding-left: 20px;
    height: 65px;
}

.navContainer{
    display: flex;
    width: 80%;
    justify-content: end;
    margin-right: 20px;
}

.navContainer .navLink{
    padding-left: 10px;
    color: white;
    cursor: pointer;
}

@media (max-width: 700px) {
    
    .siteTitle{
        display: none;
    }
    
    .header .logo{
        height: 50px;
    }

  }